@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 960px;
    margin: 0 auto;
}

h1 {
    color: navy;
    text-align: center;
    margin: 1rem;
}

strong {
    color: navy;
    font-size: 1.1rem;
}

form {
    display: grid;
    padding: 1.5rem;
    row-gap: 1rem;
    background-color: #eee;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}

input, textarea, select{
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: .5rem;
}

option {
    font-size: 1rem;
}

button {
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0.5rem;
    background-color: navy;
    color: white;
    font-size: 1.3rem;
    width: 250px;
    margin: 0 auto;
}

button:hover {
    background-color: green;
}

footer {
    text-align: center;
    padding: 1rem;
}
